// Paper 3.2.0
// Bootswatch
// -----------------------------------------------------

@import url("//fonts.googleapis.com/css?family=Roboto:300,400,500");

// Navbar =====================================================================

.navbar {
  .box-shadow(0 1px 2px rgba(0,0,0,.3));
}

// Buttons ====================================================================

#btn(@class) {
  .btn-@{class} {
    @bg: "btn-@{class}-bg";

    &:hover {
      background-color: darken(@@bg, 3%);
    }

    &:active {
      background-color: darken(@@bg, 6%);
      .box-shadow(2px 2px 2px rgba(0,0,0,.3));
    }
  }
}

#btn(default);
#btn(primary);
#btn(success);
#btn(info);
#btn(warning);
#btn(danger);

.btn {
  text-transform: uppercase;
  .box-shadow(1px 1px 2px rgba(0,0,0,.3));
  .transition(all 0.2s);

  &:active,
  &:focus,
  &:active:focus {
    outline: 0;
  }

  &-link {
    .box-shadow(none);
  }
}

// Typography =================================================================

body {
  -webkit-font-smoothing: antialiased;
  letter-spacing: .1px;
  text-rendering: optimizeLegibility;
}

p {
  margin: 0 0 1em;
}

// Tables =====================================================================

// Forms ======================================================================

// Navs =======================================================================

// Indicators =================================================================

// Progress bars ==============================================================

// Containers =================================================================

.close {
  font-size: 34px;
  font-weight: 300;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}
